<h1>Your book list</h1>

{% if books %}
{% for book in books %}
<ul>
    <li>Book title: {{book.title}}</li>
    <li>Author: {{book.author}}</li>
    <li>Publication date: {{book.publication_date}}</li>
    <li>Summary: {{book.summary}}</li>
    <li>Review: {{book.review}}</li>
    <li>Rating: {{book.rating}}</li>
</ul>
<a href="{% url 'book-detail' book.id %}">View</a>
<a href="{% url 'book-update' book.id %}">Update</a>
<a href="{% url 'book-delete' book.id %}">Delete</a>
{% endfor %}
<br>
<a href="{% url 'book-add' %}">Add more book</a>
{% else %}
<h3>Your book list is empty.</h3>
<h4>Let's add new book!</h4>
<a href="{% url 'book-add' %}">Add book</a>
{% endif %}