<h1>Your book list</h1>

<!--Search function-->
<form method="get">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <input type="number" step="0.1" name="min_rating" placeholder="Minimum Rating">
    <input type="date" name="publication_date" placeholder="Publication Date">
    <button type="submit">Search</button>
</form>

{% if books %}
<h3>You have {{count}} book{{count|pluralize:"s"}} in your list!</h3>
{% for book in books %}
<ul>
    <li>Book title: {{book.title}}</li>
    <li>Author: {{book.author}}</li>
    <li>Publication date: {{book.publication_date}}</li>
    <li>Summary: {{book.summary}}</li>
    <li>Review: {{book.review}}</li>
    <li>Rating: {{book.rating}}</li>
</ul>
<a href="{% url 'book-detail' book.id %}">View</a>
<a href="{% url 'book-update' book.id %}">Update</a>
<a href="{% url 'book-delete' book.id %}">Delete</a>
{% endfor %}
<br>
<a href="{% url 'book-add' %}">Add more book</a>
{% else %}
<h3>Your book list is empty.</h3>
<h4>Let's add new book!</h4>
<a href="{% url 'book-add' %}">Add book</a>
{% endif %}